.button {
	border-radius: 10px;
	background-color: $gray-dark;
	color: $white;
	font-size: 14px;
	padding: 18px 20px;
	border: 1px solid #000;
	text-align: center;
	width: auto;
	font-weight: 300;
}

.button-green {
	background-color: $green;
	border-color: #527572;

	&:hover {
		background-color: darken($green, 2%);
		border-color: #527572;
	}
}