header, nav, section, article, aside, footer, hgroup, main, {
   display: block;
}

.site-footer-nav {
}

#menu-support-menu li {
	float: left;
	display: block;
	padding-bottom: 10px;
	text-align: right;
}

#menu-support-menu li a {
	text-decoration: none;
	color: #dadada;
	font-size: 12px;
	text-align: right;
}

nav#header__menu ul.menu li.menu-item {
	float: left;
	display: block;
	padding-bottom: 10px;
	text-align: right;
}

nav#header__menu ul.menu-main-site-menu li.menu-item a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	text-align: right;
}

.main-header  {
	background: url('../images/header-large.jpg') !important;
}

.main-header-stats {
	display: block;
	width: 100%;
}

.main-header-stats p.support-text {
	color: white;
}

.tab .tab-content:first-child  {
	display: block;
}

.main-header.edited-main-header {
	background: none !important;
	background-color: black !important;
}

.edited-main-header {
	width: 100%;
	display: block;
}

.edited-main-header .main-header-stats h2 {
	color: white;
	font-weight: 600;
}