
/*--------------------------------------------------------------
Main Content Area
--------------------------------------------------------------*/

.page-with-sidebar .site-main {
	background: #fff;
	padding: 70px 5%;
	border-left: 1px solid $gray;
	margin: 0px;

	@media screen and (max-width: 500px) {
		padding: 30px 5%;
	}
}


.entry-header {
	position: relative;
}


.site-footer {
	background: $gray-dark;
	background: url('../images/monument_valley.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/monument_valley.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/monument_valley.jpg', sizingMethod='scale')";
	border-top: 1px solid black;

}

	.site-footer p {
		color: darken($gray, 10%);
		font-weight: 200;
		margin-bottom: 10px;

		@media screen and (max-width: 768px) {
			color: $white;
		}
	}

	.site-footer .support-text {
		font-size: 13px;
		line-height: 23px;
	}

	.copy-right-text {
		font-size: 12px;
	}

	.site-footer-info {
		overflow: visible;
		background: rgba(46, 46, 46, 0.98);
		padding: 40px 20px 50px 20px;
		border-top: 1px solid black;


		@media screen and (max-width: 768px) {
			padding: 40px 30px;
			background: #4a4a4a;
		}
	}

			.site-footer-info-logo img {
				width: 80%;
				height: auot;
			}

		.site-footer-info-social .soc {
			float: right;
			padding-top: 15px;

			@media screen and (max-width: 768px) {
				float: left;
			}
		}

		.site-footer-info-contact {
			padding-top: 15px;

		}

		.site-footer-info-about {
			padding: 15px 0px 0px 0px;

		}



/*--------------------------------------------------------------
Search Form
--------------------------------------------------------------*/

.search-options {
	display: none;
	position: absolute;

}

	.search-options input[type=radio] {
	    display:none;
	    margin:0px;
	    height: 0px;
	    line-height: 0px;
	}

	.search-options input[type=radio] label {
		cursor: pointer;
	}

.search-form {

}

	#s {
		width: 80%;
		font-weight: 200;
	}

	#searchbutton {
		width: 20%;
	}



/*--------------------------------------------------------------
Main Header
--------------------------------------------------------------*/

.main-header {
	background: url('../images/header.jpg') no-repeat left center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	padding: 0px;
	height: auto;

	@media screen and (max-width: 450px) {

	}
}

	.main-header .wrapper {
	}

	.main-header-stats {
		text-align: center;
		padding: 120px 20px 60px 20px;

		@media screen and (max-width: 650px) {
			padding: 80px 20px 40px 20px;
		}

		@media screen and (max-width: 450px) {
			padding: 50px 20px 20px 20px;
		}
	}

		.main-header-stats ul li {
			display: none;
		}

		.main-header-stats ul li.show {
			display: block;
		}

		.main-header-stats p.support-text {
			margin-bottom: 0px;
			font-size: 24px;
			color: $white;
			font-weight: 200;

			@media screen and (max-width: 650px) {
				font-size: 18px;
			}
		}

		.main-header-stats h2 {
			font-size: 100px;
			line-height: 120px;
			font-weight: 400;
			color: #FEFFD6;

			@media screen and (max-width: 650px) {
				font-size: 70px;
				line-height: 80px;
			}

			@media screen and (max-width: 450px) {
				font-size: 40px;
				line-height: 40px;
				margin-top: 15px;
			}
		}

		.main-header-stats a {
			color: #FFD0A3;
			font-weight: 200;
			font-size: 14px;
			margin-top: 30px;
			display: block;

			@media screen and (max-width: 450px) {
				display: none;
			}
		}


	.main-header-search {
		padding: 0px 10% 200px 10%;
		overflow: visible;

		@media screen and (max-width: 650px) {
			padding: 0px 10% 100px 10%;
		}

		@media screen and (max-width: 650px) {
			padding: 0px 5% 60px 5%;
		}
	}

		#searchOptions {
			position: relative;
			overflow: visible;

			@media screen and (max-width: 900px) {
				width: 100%;
				text-align: center;
				padding: 0px 0px 10px 0px;
			}

			@media screen and (max-width: 450px) {
				width: 100%;
				text-align: center;
				padding: 0px 0px 0px 0px;
			}
		}

		#searchMain {
			@media screen and (max-width: 900px) {
				width: 100%;
				padding: 0px;
			}
		}

		#search-options-link {
			color: white;
			font-size: 14px;
			text-decoration: none;
			text-align: center;
			font-weight: 200;
			display: block;
			padding: 23px 10px 15px 10px;

			&:after {
				content: "▼";
				padding: 0px 0px 0px 10px;
				font-size: 10px;
				color: #dadada;
			}

			@media screen and (max-width: 900px) {
				width: 100%;
				text-align: center;
			}

			@media screen and (max-width: 450px) {
				padding: 25px 10px 15px 10px;
			}
		}

		#search-options-link.selected {
			color: $white;

			&:after {
				content: "▼";
				padding: 0px 0px 0px 10px;
				font-size: 10px;
				color: #dadada;
			}
		}

		.main-header-search .search-options {
			background: $gray-light;
			top: 20px;
			left: 25%;
			padding: 0px 0px;
			border: 1px solid $gray;
			border-bottom: 0px;
			-webkit-box-shadow: 0 0 85px 0 rgba(0,0,0,.6);
			box-shadow: 0 0 85px 0 rgba(0,0,0,.6);
			width: 50%;
			z-index: 99;
			margin: 0 auto;

			@media screen and (max-width: 900px) {
				width: 100%;
				left: 0px;
			}
		}

			.search-options .wrapper {
				overflow: visible;
			}

			.main-header-search .search-options label {
				padding: 15px 30px;
				border-bottom: 1px solid $gray;
				display: block;
				font-size: 16px;
				line-height: 16px;
				cursor: pointer;

				&:hover {
					background: $white;
				}
			}

		.main-header-search .search-form {
			width: 90%;
			margin: 0 auto;
		}

		#s {
			width: 72%;
			font-size: 16px;
			font-weight: 200;
			padding: 21px 2% 21px 5%;
			-webkit-border-radius: 50px 0 0 50px;
			border-radius: 50px 0 0 50px;
			margin: 0px;
			border: 0px;

			&:focus{
			    outline: 0;
			}

			@media screen and (max-width: 450px) {
				width: 80%;
				-webkit-border-radius: 0px;
				border-radius: 0px;
				padding: 20px 10% 20px 10%;
				text-align: center;
				margin-bottom: 0px;
				-webkit-appearance: none;
				-webkit-border-radius: 0;
				border-radius: 0px;

			}
		}

		#searchsubmit {
			background: $gray;
			-webkit-border-radius: 0 50px 50px 0;
			border-radius: 0 50px 50px 0;
			font-size: 16px;
			border: 0px;
			outline: 0;
			padding: 21px 5%;
			width: 20%;
			margin: 0px;
			color: $gray-dark;
			font-weight: 200;
			cursor: pointer;
			margin-left: -1px;

			&:hover {
				background: $green;
				color: $white;
			}

			@media screen and (max-width: 450px) {
				width: 100.5%;
				-webkit-border-radius: 0px;
				border-radius: 0px;
				padding: 16px 0%;
				margin-top: 0px;
				background: $orange;
				color: white;
				border: 1px solid darken($orange, 20%);
			}
		}


	.main-header-additional {
		margin-top: 30px;
	}
		.main-header-additional a {
			text-align: center;
			display: block;
			width: 100%;
			font-size: 14px;
			color: $white;
			font-weight: 200;
		}


.edited-main-header {
	.main-header-stats h2 {
		color: white;
		font-size: 80px;
		line-height: 95px;
	}
}

.edited-main-header a.button {
	display: inline-block;
	color: white;
	margin-top: 50px;
	font-size: 19px;
	border: 1px solid darken($orange, 25%);
}


/*--------------------------------------------------------------
Home Tabs
--------------------------------------------------------------*/


.home .tab-content {
	display: none;
	background: black;
	backgroud-color: black;
}

#tab-1 {
	display: block;
}

.home .tabs-menu {
	background: $gray-dark;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.home .tabs-menu li {
	width: 25%;
	float: left;
	display: block;

	&:last-child a {
		border-right: 1px solid black;
	}

	@media screen and (max-width: 460px) {
		width: 50%;
	}
}

	.home .tabs-menu a {
		display: block;
		text-align: center;
		background: $gray-dark;
		border-right: 1px solid black;
		color: $white;
		text-decoration: none;
		font-weight: 200;
		padding: 20px 0px;

		&:hover {
			background: lighten($gray-dark, 5%);
		}

		@media screen and (max-width: 600px) {
			font-size: 14px;
		}
	}

	.home .tabs-menu .current a {
		background: $green;
	}

	.home .tab-content {
		position: relative;
		overflow: hidden;
		background: black;
		backgroud-color: black;
	}

	.home .tab-content .gradient {
		background: -moz-linear-gradient(left,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.78)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

			@media screen and (max-width: 600px) {
				background: rgba(0,0,0,0.7);
			}
	}

	.home .tab-content-text {
		width: 50%;
		padding: 0px 0px 220px 40px;

		@media screen and (max-width: 600px) {
				width: 100%;
				padding: 0px 40px 60px 40px
			}
	}

		.home .tab-content-text h2 {
			color: $white;
			font-weight: 200;
			font-size: 30px;
			padding-top: 100px;
			margin-bottom: 15px;

			@media screen and (max-width: 600px) {
				padding-top: 50px;
			}
		}

		.home .tab-content-text p {
			color: $white;
			font-weight: 200;
			font-size: 17px;
			margin-bottom: 25px;
		}

		.home .tab-content-text a {
			color: $green;
			font-weight: 200;
			font-size: 17px;
			margin-bottom: 12px;
			display: block;
		}


	.image-background {

	}


/*--------------------------------------------------------------
Instagram Bar
--------------------------------------------------------------*/


.instagram-bar {
	overflow: hidden;
	position: relative;
	margin-bottom: -10px;
	border-top: 1px solid black;
}

	.instagram-bar-box {
		position: absolute;
		width: 16.7%;
		height: 97.6%;
		right: 0%;
		padding: 0% 2% 0% 2%;
		background: $gray-dark;
	}

	.instagram-bar-box-wrapper {
		position: absolute;
		bottom: 20px;
		width: 80%;
	}

	.instagram-bar-box p {
		font-size: 17px;
		color: $white;
		font-weight: 500;
		margin-bottom: 10px;

		@media screen and (max-width: 900px) {
			font-size: 13px;
		}
	}

	.instagram-bar-box a {
		color: $green;
		font-size: 15px;
	}



/*--------------------------------------------------------------
Subscribe Bar
--------------------------------------------------------------*/

.subscribe-bar {
	background: rgba(40,140,132,1);
	background: -moz-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40,140,132,1)), color-stop(57%, rgba(111,167,120,1)), color-stop(100%, rgba(191,212,159,1)));
	background: -webkit-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
	background: -o-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
	background: -ms-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
	background: linear-gradient(to right, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#288c84', endColorstr='#bfd49f', GradientType=1 );		z-index: 5;
	opacity: .85;
	padding: 40px 0px;
}

.subscribe-bar-box-wrapper {
	@media screen and (max-width: 1100px) {
		padding: 0px 20px;
	}
}

.subscribe-bar p {
	margin: 0px;
}

.subscribe-bar-content {

	p {
		color: white;
		font-weight: 100;
		padding-right: 1%;
	}
}

.subscribe-bar-link {

}

.subscribe-bar-link a.button {
	display: inline-block;
	background: transparent;
	color: white;
	font-weight: 100;
	font-size: 22px;
	float: right;
	border: 1px solid white;
	width: 90%;
	padding: 15px 0px;
	margin: 0px;

	@media screen and (max-width: 768px) {
		margin-top: 20px;
		width: 100%;
	}
}




/*--------------------------------------------------------------
Resource Bar
--------------------------------------------------------------*/

.resource-bar {
	background-color: $orange;
	background-image: -o-linear-gradient(179deg, #f89838 0%, #F76B1C 100%);
	background-image: -moz-linear-gradient(179deg, #f89838 0%, #F76B1C 100%);
	background-image: -ms-linear-gradient(179deg, #f89838 0%, #F76B1C 100%);
	background-image: linear-gradient(269deg, #f89838 0%, #F76B1C 100%);
	border-top: 1px solid black;
	padding: 30px 20px;
}

	.resource-bar-item {
		width: 18.5%;
		float: right;
		display: block;

		@media screen and (max-width: 768px) {
			width: 25%;
		}

		@media screen and (max-width: 600px) {
			width: 45%;

			&:nth-child(odd) {
				margin-right: 20px;
			}
		}
	}

	.resource-bar-item a {
		display: block;
		text-decoration: none;
		padding: 260px 20px 0px 20px;
		margin: 10px 10% 10px 0px;
		position: relative;
		overflow: hidden;
		-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.6);
		box-shadow: 0 0 15px 0 rgba(0,0,0,.6);

		&:after {
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.9) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
			display: block;
			height: 100%;
			width: 100%;
			content: ".";
			color: transparent;
			position: absolute;
			z-index: 1;
			bottom: 0px;
			left: 0px;
		}

		@media screen and (max-width: 900px) {
			padding: 220px 20px 0px 20px;
		}

		@media screen and (max-width: 500px) {
			margin: 10px 0px 10px 0px;
			padding: 200px 20px 0px 20px;
		}
	}

		.resource-bar-item p {
			color: $white;
			text-align: right;
			font-size: 16px;
			line-height: 20px;
			position: relative;
			z-index: 2;
			position: absolute;
			bottom: 0px;
			padding: 0px 20px;
		}

		.resource-bar-item img {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			max-width: none;
			width: auto;
			z-index: 0;
		}

	.resource-bar-text {
		width: 25%;
		float: left;
		padding-right: 4%;
		padding-top: 3%;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

		.resource-bar-text h3 {
			color: $white;
			font-weight: 300;
			font-size: 30px;
		}

		.resource-bar-text p {
			color: $white;
			font-size: 16px;
			font-weight: 200;
			margin-bottom: 15px;
		}

		.resource-bar-text a {
			color: $white;
			font-size: 16px;
			font-weight: 200;
		}




/*--------------------------------------------------------------
Document Shortcode
--------------------------------------------------------------*/

.document {
	background: lighten($gray-light, 1%);
	border: 1px solid lighten($gray, 5%);
	padding: 30px 4%;
	margin-bottom: 20px;
	margin-top: 30px;
}

	.document .icon {
		float: left;
		width: 15%;
		margin-right: 4%;
	}

	.document_text {
		float: left;
		width: 81%;
	}

	.document p {
		margin: 0px;
		font-size: 16px;
		margin-bottom: 10px;
		color: lighten($gray-dark, 10%);
		font-weight: 200;
	}

	.document a {
		color: $orange;
		font-size: 16px;
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.document a.title {
		color: $gray-dark;
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 5px;
		text-decoration: none;
		font-family: "adelle", "open-sans",sans-serif;
	}

	.document a.title span {
		font-size: 16px;
		color: lighten($gray-dark, 10%);
		font-weight: 200;
	}




/*--------------------------------------------------------------
Notification Boxes
--------------------------------------------------------------*/

.notification {
	display: block;
	margin-bottom: 30px;
	padding: 15px 4%;
	font-size: 15px;
}

	.notification p {
		margin-bottom: 0px;
	}


	.notification-green {
		background: lighten($green, 60%);
		border: 1px solid lighten($green, 45%);

		p {
			color: darken($green, 10%);
		}
	}




/*--------------------------------------------------------------
Open Positions
--------------------------------------------------------------*/

.tab-content {
	display: none;
}

.tab > .tab-content:first-of-type {
	display: block;
}

.position_item {
	background: lighten($gray-light, 1%);
	border: 1px solid lighten($gray, 5%);
	padding: 30px 5%;
	margin-bottom: 20px;
}

	.position_item a {
		font-size: 14px;
	}


	.position_item .position_text {
		display: none;
	}

	.position_item .church_name {
		width: 50%;
		float: left;
		margin-bottom: 5px;

		@media screen and (max-width: 768px) {
			width: 100%;
			float: none;
		}
	}

	.position_item .church_city {
		width: 50%;
		float: right;
		text-align: right;
		margin-bottom: 5px;

		@media screen and (max-width: 768px) {
			width: 100%;
			float: none;
			text-align: left;
		}
	}

	.position_item h2 {
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.position_item h2 span.type {
		font-size: 19px;
		font-weight: 400;
		float: right;
		text-transform: capitalize;
		color: lighten($gray-dark, 50%);

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	.position_item h2 span.new {
		font-size: 12px;
		padding: 5px 12px;
		font-weight: 400;
		background: $orange;
		color: $white;
		margin: 10px 0px 0px 10px;
		position: absolute;
		line-height: 15px;
	}

	.position_item .support-text {
		margin-bottom: 0px;
		font-style: italic;
		font-weight: 200;
		color: lighten($gray-dark, 40%);

	}

.page-template-page-positions .tabs-menu {
	margin: 0px;
	margin-bottom: 40px;
	display: block;

	li {
		width: 33.333%;
		list-style: none;
		margin: 0px;
		padding: 0px;
		display: block;
		float: left;
		border: 1px solid $gray;
		border-right: 0px;

		a {
			text-decoration: none;
			padding: 20px;
			background-color: $gray-light;
			display: block;
			color: $gray-dark;
			text-align: center;
			font-size: 16px;
		}

		&:last-child {
			border-right: 1px solid $gray;
		}
	}
}

.position_text p, .position_text li {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 5px;
	display: block;
}

.position_text_content p:first-of-type {
	border-top: 1px solid $gray;
	padding-top: 20px;
}

.position_text_content {
	border-bottom: 1px solid $gray;
}

.contact_text h4 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
}


.page-template-page-positions ul.tabs-menu li.current a {
	background-color: $white;
}







/*--------------------------------------------------------------
Event Calendar Styles
--------------------------------------------------------------*/

.page-template-page-calendar-php .entry-content {
	margin-top: 0px;
}

.tribe-events-promo {
	display: none;
}

.tribe-bar-disabled {

}

.tribe-bar-disabled #tribe-bar-views .tribe-bar-views-list, .tribe-bar-disabled #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option {
	font-size: 14px;
}

.tribe-bar-is-disabled h2.tribe-events-page-title {
	font-family:"open-sans",sans-serif;
	line-height: 45px;
	font-size: 35px;
	text-align: left;
	font-weight: 600;
	color: $gray-dark;
	text-transform: uppercase;
	display: block;
	width: 100%;

	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid $gray;
	margin-bottom: 0px;
}

	.tribe-bar-is-disabled h2.tribe-events-page-title a {
		display: block;
		font-size: 18px;
		color: darken($gray, 40%);
		text-transform: capitalize;
		font-weight: 400;
		line-height: 30px;
	}

.full_calendar {
	margin-bottom: 40px;
}

.tribe-bar-disabled .tribe-bar-filters .tribe-bar-date-filter, .tribe-bar-disabled #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner {

}

#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav li {
	width: 50%;
	margin: 0px;
	padding: 0px;
	background: $gray-light;
	margin-top: 30px;

	a {
		font-weight: 400;
		color: $gray-dark;
		padding: 30px 5%;
		border: 1px solid $gray;
		display: block;
	}
}



#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
	color: $green;
	font-weight: 400;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
	background-color: $green;
}

#tribe-events-content .tribe-events-tooltip h4 {
	color: $green;
	font-weight: 300;
}

.single-tribe_events .tribe-events-sub-nav {
	display: none;
}


.tribe-events-list div.type-tribe_events {
	background: lighten($gray-light, 1%);
	border: 1px solid lighten($gray, 5%);
	padding: 30px 5%;
	margin-bottom: 20px;
}

	.tribe-events-list .time-details {
		padding: 0px;
	}

	.tribe-events-loop .tribe-events-event-meta {
		padding: 0px;
		background: transparent;
		border: 0px;
	}

	.tribe-events-list-event-description {
		margin-top: 0px;
	}

	.tribe-events-read-more {
		font-size: 15px;
	}







/*--------------------------------------------------------------
Leadership Page and Module Styles
--------------------------------------------------------------*/


	.leadership-item {
		position: relative;
		background: lighten($gray-light, 1%);
		border: 1px solid lighten($gray, 5%);
		padding: 30px 5%;
		margin-bottom: 20px;

		.leadership_photo {
		}

		.leadership_info {
			padding: 0px;
			margin: 0px;
		}

		img {
			width: 100%;
			height: auto;
		}

		h3 {
			margin: 0px;
			margin-top: 0px;
			margin-left: 7%;
		}

		h5 {
			margin-bottom: 8px;
			margin-left: 7%;
		}

		p.support-text {
			margin: 0px;
			line-height: 20px;
			margin-left: 7%;
		}

		p.support-text a {
			margin-top: 10px;
			display: block;
		}
	}

.leadership-item-module {
	padding: 40px 5%;
	background-color: lighten($gray-light, 2%);
	border: 1px solid $gray;
}

.single-leadership .leadership-item-module {
	margin-top: 40px;
}




/*--------------------------------------------------------------
Media, Video and Audio
--------------------------------------------------------------*/

.video_audio-item {

}

.video_audio-item h3 {
	margin: 0px;
}

.video_audio-item a {
	text-decoration: none;
}

.video_audio-item p.support-text {
	margin: 0px;
}

.video_audio-item img {
	border: 1px solid $gray-dark;
}

.video_audio-item ul.post-categories {
	margin: 0px;
	margin-left: 0px;
	margin-top: 10px;
	list-style: none;
}

.video_audio-item ul.post-categories li {
	margin: 0px;
	padding: 0px;
}

.video_audio-item ul.post-categories li a {
	font-size: 14px;
}

audio {
	width: 100%;
}

.media-item {
	margin-bottom: 30px;
}





/*--------------------------------------------------------------
Archive and Sidebar Search
--------------------------------------------------------------*/


.archive-item {
	background: lighten($gray-light, 1%);
	border: 1px solid lighten($gray, 5%);
	padding: 30px 5%;
	margin-bottom: 20px;

	.support-text {
		margin-bottom: 5px;
	}

	h3 {
		margin-top: 0px;
	}
}

.sidebar-searchform #search-options-link {
	padding: 0px 0px 15px 0px;
	text-align: left;
	color: $gray-dark;
}

.sidebar-searchform #s {
	width: 75%;
	border-radius: 0px;
	margin-right: 10%;
	padding: 15px 5%;
	border: 1px solid lighten($gray, 5%);

}

.sidebar-searchform #searchsubmit {
	width: 87%;
	border-radius: 0px;
	margin-right: 20%;
	margin-top: 10px;
	padding: 15px 0px;
	border: 1px
}

.page-content #s {
	border: 1px solid $gray;
	margin-top: 25px;
}

.page-content #searchsubmit {
	border: 1px solid darken($gray, 15%);
	margin-top: 25px;
}






/*--------------------------------------------------------------
Find A Church Search
--------------------------------------------------------------*/


.church-tab p.support-text {
	margin-bottom: 10px;
	text-align: left;
}

.church-search-tabs {
	margin-bottom: 20px;

	li {
		width: 33.333%;
		background: lighten($gray-light, 1%);
		border: 1px solid lighten($gray, 5%);
		border-right: 0px;
		float: left;
		text-align: center;
		color: $gray-dark;
		font-size: 14px;

		a {
			text-align: center;
			text-decoration: none;
			color: $gray-dark;
			font-size: 16px;
			display: block;
			width: 100%;
			padding: 15px 0px;
		}
	}

	li:last-child {
		border-right: 1px solid lighten($gray, 5%);
	}

	li.current {
		background: white;
	}
}

.church-tab {
	margin-bottom: 50px;
}

.az-char {
	float: left;
	padding-right: 2.1%;
	color: lighten($gray, 5%);

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.az-char.current-menu-item a {
	color: $orange;
}


.church-searchform #s {
	width: 73.5%;
	margin-right: 0px;
	padding: 15px 3%;
}

.church-searchform #searchsubmit {
	width: 20%;
	margin-right: 0px;
	border: 1px solid darken($gray, 10%);
}

.tax_nav {
	margin-bottom: 25px;
}

.tax_nav .support-text {
	margin-bottom: 5px;
}

.church-label {
	color: $green;
	opacity: .7;
}

.page-with-sidebar .single-church-main {
	position: relative;
	padding-bottom: 450px;
	display: block;
}

.direction_link {
	display: block;
	font-size: 14px;
	color: lighten($gray-dark, 40%);
	margin-top: 5px;
}

.acf-map {
	width: 100%;
	left: 0px;
	height: 400px;
	border: #ccc solid 1px;
	position: absolute;
	bottom: 0px;
}




/*--------------------------------------------------------------
Search Results Page
--------------------------------------------------------------*/

.search-item {
	margin-bottom: 20px;
}

.search-item h3 {
	margin-bottom: 0px;

	a {
		text-decoration: none;
		color: $gray-dark;
		margin-bottom: 5px;

		&:hover {
			color: $green;
		}
	}
}

.search-item .entry-summary {
	margin: 0px;
}

.search-item p {
	margin-bottom: 5px;
	font-size: 15px;
}

.search-item .post_type {
	color: darken($gray, 20%);
}