/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.site-footer {
	background: url('../images/monument_valley.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-top: 1px solid black;

}

	.site-footer p {
		color: darken($gray, 10%);
		font-weight: 200;
		margin-bottom: 10px;

		@media screen and (max-width: 768px) {
			color: $white;
		}
	}

	.site-footer .support-text {
		font-size: 13px;
		line-height: 23px;
	}

	.copy-right-text {
		font-size: 12px;
	}

	.site-footer-info {
		overflow: visible;
		background: rgba(46, 46, 46, 0.88);
		padding: 40px 20px 50px 20px;
		border-top: 1px solid black;


		@media screen and (max-width: 768px) {
			padding: 40px 30px;
			background: #4a4a4a;
		}
	}

			.site-footer-info-logo img {
				width: 80%;
				height: auot;
			}

		.site-footer-info-social .soc {
			float: right;
			padding-top: 15px;

			@media screen and (max-width: 768px) {
				float: left;
			}
		}

		.site-footer-info-contact {
			padding-top: 15px;

		}

		.site-footer-info-about {
			padding: 15px 0px 0px 0px;

		}