
/*--------------------------------------------------------------
Support Menu Styles
--------------------------------------------------------------*/

.header-support {
	background-color: $gray-dark;
	padding: 0px 20px;
}

	.header-support__menu {
			float: right;
	}

		.header-support__menu ul {

		}

		.menu-support-menu-container {
			float: right;
		}

			.header-support__menu .menu-item {
				float: left;
				display: inline;
			}

				.header-support__menu .menu-item a {
					color: $gray;
					font-size: 12px;
					padding: 8px 8px;
					font-weight: 200;
					display: inline-block;

					&:hover {
						color: $white;
					}
				}



/*--------------------------------------------------------------
Primary Menu Styles
--------------------------------------------------------------*/

.header {
	border-bottom: 1px solid #7A7A7A;
	padding: 0px 20px;
	position: relative;
	background-color: $white;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

	.header__branding {
		width: 18%;
		float: left;
		display: block;
	}

	.header__branding h1 {
		padding-bottom: 0px;
		margin-bottom: 0px;
		border-bottom: 0px;
	}

		.header__branding__logo img {
			width: 100%;
			height: auto;
			padding: 20px 0px 0px 0px;
		}


	.header__menu {
		float: right;
		width: auto;
	}

		.header__menu ul {
			float: right;
		}

			.header__menu .menu-item {

			}

				.header__menu .menu-item a {
					color: $gray-dark;
					font-size: 16px;
					padding: 0px 15px;
					line-height: 98px;
					font-weight: 400;

					&:hover {
						color: $green;
					}

					@media screen and (max-width: 990px) {
						font-size: 14px;
						line-height: 90px;
						padding: 0px 10px;
					}

					@media screen and (max-width: 790px) {
						font-size: 14px;
						line-height: 85px;
						padding: 0px 5px;
					}
				}

				.menu-item.selected a {
					color: $orange;

					&:hover {
						color: $orange;
					}
				}





/*--------------------------------------------------------------
Mobile Menu Styles
--------------------------------------------------------------*/

.mobile-menu {
	display: none;

	@media screen and (max-width: 768px) {
		display: block;
	}
}

	.mobile-menu .header {
		display: block;
		padding: 0px 25px;
	}

		.mobile-menu .header__branding {
			width: 30%;

			@media screen and (max-width: 440px) {
				width: 50%;
			}
		}

			.mobile-menu .header__branding__logo img {
				padding: 20px 0px 15px 0px;
			}

	.header__mobile__toggle {
		font-size: 30px;
		color: $gray-dark;
		line-height: 80px;
	}

	.mobile-menu ul {
		list-style: none;
		margin-left: 0px;
	}

	.mobile-menu .menu-mobile-site-menu {
		background-color: $gray-light;
		border-bottom: 1px solid $gray;
		display: none;
	}

		.mobile-menu .menu-mobile-site-menu .menu-item a {
			padding: 10px 30px;
			text-decoration: none;
			color: $gray-dark;
			display: block;
			border-bottom: 1px solid darken($gray-light, 5%);

		}

		.mobile-menu .menu-mobile-site-menu .menu-item > ul {
			display: none;
		}

		.mobile-menu .menu-mobile-site-menu .selected > a {
			color: $orange;
		}

		.menu-mobile-site-menu .menu_item_has_children .children {
			padding: 10px 0px 20px 0px;
			background-color: darken($gray-light, 3%);
		}

		.menu-mobile-site-menu .menu_item_has_children .children a {
			color: $gray-dark;
			text-decoration: none;
			padding: 10px 0px 10px 40px;
			display: block;
			font-size: 15px;
		}

		.menu-mobile-site-menu .page_item_has_children .children {
			display: none;
			padding: 0px;
		}

		.menu-mobile-site-menu .page_item_has_children > a {
			&:after {
				content: "▶";
				padding: 0px 0px 0px 10px;
				font-size: 10px;
				color: #dadada;
			}
		}

		.menu-mobile-site-menu .page_item_has_children.selected > a {
			&:after {
				content: "▼";
				padding: 0px 0px 0px 10px;
				font-size: 10px;
				color: #dadada;
			}
		}

			.menu-mobile-site-menu .page_item_has_children .children a {
				padding: 10px 0px 10px 60px;
				color: #909090;
			}




/*--------------------------------------------------------------
Menu Slide Down Panels
--------------------------------------------------------------*/


.menu-item__dropdown {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 0;
	background-color: $gray-light;
	padding: 40px 0px;
	display: none;
	border-bottom: 1px solid $gray;
}

	.menu-item__dropdown .page_item {
		display: block;
		width: 100%;
		border-bottom: 1px solid darken($gray-light, 5%);

		&:last-child { border-bottom: 0px; }
	}

		.menu-item__dropdown .page_item a {
			color: $gray-dark;
			font-size: 16px;
			padding: 20px 0px 20px 10px;
			display: block;

			&:hover {
				color: $green;
			}
		}

	.menu-item__dropdown .page_item_has_children > a {
		&:after {
			content: "▶";
			padding: 0px 0px 0px 10px;
			font-size: 10px;
			color: #dadada;
		}
	}

	.menu-item__dropdown .page_item_has_children.selected > a {
		&:after {
			content: "▼";
			padding: 0px 0px 0px 10px;
			font-size: 10px;
			color: #dadada;
		}
	}

	.menu-item__dropdown .children {
		padding: 0px 0px 0px 30px;
		display: none;
	}

		.menu-item__dropdown .children .page_item {
			width: 50%;
			float: left;
			border-bottom: 0px;
		}

			.menu-item__dropdown .children .page_item a {
				padding: 5px 10px;
				border-bottom: 0px;
				font-size: 14px;
				line-height: 30px;
				color: #909090;

				&:hover {
					color: $green;
				}
			}

	.menu_panels .call-to-action__text {
		padding: 20px 50px 40px 20px;
	}

		.menu_panels .button {
			width: 70%;
			margin-top: 30px;

		}






/*--------------------------------------------------------------
Footer Menu
--------------------------------------------------------------*/

.footer-menu {
	padding: 70px 20px 100px 20px;

	@media screen and (max-width: 768px) {
		display: none;
	}
}

	.footer-menu a {
		text-decoration: none;
		font-size: 13px;
		color: $white;
		font-weight: 200;
		line-height: 20px;
		padding: 5px 0px;
		display: block;

	}

		.footer-menu .menu-item a {
			font-size: 16px;
			margin-bottom: 15px;
		}

		.footer-menu .page_item .children {
			display: none;
		}





/*--------------------------------------------------------------
Page with Sidebar Navigation
--------------------------------------------------------------*/

.page-with-sidebar {
	background: rgba(247,247,247,1);
	background: -moz-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,247,247,1)), color-stop(49%, rgba(247,247,247,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);}

	.sidebar {
		padding: 50px 0px 50px 0px;

		@media screen and (max-width: 1140px) {
			padding-left: 30px;
		}
	}

	.sidebar ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	.sidebar li {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	.sidebar li a {
		display: block;
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		color: lighten($gray-dark, 20%);
		padding: 17px 15px 17px 0px;
		border-bottom: 1px solid lighten($gray, 5%);
	}

	.sidebar li.current_page_item a {
		color: $green;
		font-weight: 600;
	}





/*--------------------------------------------------------------
Inner Page Header and Breadcrumb Navigation
--------------------------------------------------------------*/

.page-inner-header {
	background: $white;
	padding: 50px 0px;
	border-bottom: 1px solid $gray;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 500px) {
		padding: 20px 0px;
	}

}

	.page-inner-header h2 {
		  color: $white;
		  font-weight: 200;
		  font-size: 40px;
		  margin-bottom: 10px;
		  position: relative;
		  z-index: 10;
		  text-transform: inherit;
		  margin-top: 0px;

		@media screen and (max-width: 1140px) {
			padding-left: 30px;
		}

		@media screen and (max-width: 500px) {
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 0px;
		}
	}

	#crumbs {
		z-index: 10;
		position: relative;
		padding: 0px;
		line-height: 18px;
		font-size: 13px;
		color: #ABD2BD;
		padding: 0px 2px;
		font-weight: 200;
		text-decoration: none;

		@media screen and (max-width: 1140px) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	#crumbs a {
		opacity: 1;
		color: $white;
	}

	#crumbs a, #crumbs span {
		font-size: 13px;
		padding: 0px 2px;
		font-weight: 200;
		text-decoration: none;
		opacity: 1;
	}

	#crumbs span {
		padding-right: 5px;
	}

	#crumbs a:first-child {
		padding-left: 0px;
	}

	#crumbs a:hover {
		text-decoration: underline;
		opacity: 1;
	}

	.page-inner-header .gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		background: rgba(40,140,132,1);
		background: -moz-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40,140,132,1)), color-stop(57%, rgba(111,167,120,1)), color-stop(100%, rgba(191,212,159,1)));
		background: -webkit-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
		background: -o-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
		background: -ms-linear-gradient(left, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
		background: linear-gradient(to right, rgba(40,140,132,1) 0%, rgba(111,167,120,1) 57%, rgba(191,212,159,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#288c84', endColorstr='#bfd49f', GradientType=1 );		z-index: 5;
		opacity: .85;

		@media screen and (max-width: 500px) {

		}
	}






.page-template-page-navigation .child-page-navigational {
	background: lighten($gray-light, 1%);
	border: 1px solid lighten($gray, 5%);
	padding: 30px 5%;
	margin-bottom: 20px;

	h4 {
		margin: 0px 0px 15px 0px;

		a {
			text-decoration: none;
		}
	}

	p {
		font-size: 16px;
	}
}




ol.wp-paginate {
	margin: 0px;
	margin-top: 25px;
}

ol.wp-paginate .title {
	display: none;
}

ol.wp-paginate .page, ol.wp-paginate .prev, ol.wp-paginate .next {
	padding: 5px 10px;
	margin: 0px;
	display: inline-block;
	background-color: $gray-light;
	margin-right: 3px;
	font-size: 14px;

	&:hover {
		background-color: $gray;
	}
}

ol.wp-paginate .page.current {
	background-color: $gray-dark;
	border: 1px solid darken($orange, 10%);
}