body {
	font-family:"open-sans",sans-serif;
	font-size: 19px;
}

h2 {
	font-family:"open-sans",sans-serif;
	line-height: 70px;
	font-size: 55px;
	font-weight: 800;
}

h2 {
	font-family:"open-sans",sans-serif;
	line-height: 35px;
	font-size: 25px;
	font-weight: 700;
}

h3 {
	font-family:"open-sans",sans-serif;
	line-height: 35px;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 15px;
}

p {
	margin-bottom: 25px;
}

p.support-text {
	font-size: 15px;
}