body, input, button {
	font-family:"open-sans",sans-serif;
	font-size: 19px;
}

a {
	color: $green;
}

h1 {
	font-family:"open-sans",sans-serif;
	line-height: 60px;
	font-size: 50px;
	text-align: left;
	font-weight: 600;
	color: $gray-dark;
	text-transform: uppercase;

	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid $gray;
}

h2 {
	font-family:"open-sans",sans-serif;
	line-height: 45px;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 30px;
	text-transform: uppercase;
}

h3 {
	font-family:"open-sans",sans-serif;
	line-height: 35px;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 30px;
}

h4 {
	font-family:"open-sans",sans-serif;
	line-height: 35px;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 30px;
}

p {
	margin-bottom: 20px;
}

p.support-text {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 25px;
	color: lighten($gray-dark, 10%);
}


span.intro {
	font-family: "adelle", "open-sans",sans-serif;
	font-weight: 200;
	font-size: 25px;
	margin-bottom: 35px;
	color: $green;
}

span.dropcap {
   float: left;
   color: #333333;
   font-size: 90px;
   line-height: 60px;
   padding-top: 8px;
   padding-right: 12px;
   padding-left: 3px;
   font-family: "Open Sans";
   font-weight: 600;
   font-style: normal;
}

blockquote {
	margin: 40px 0px 40px 50px;
	display: block;
}

blockquote p {
	font-family: "adelle", "open-sans",sans-serif;
	font-weight: 200;
	font-size: 25px;
	margin-bottom: 30px;
	color: $green;
}

hr {
	background: #ECECEC;
}

.entry-content ul {
	margin: 0px 0px 25px 50px;
	list-style: disc;
}

.entry-content ol {
	margin: 0px 0px 25px 50px;
}

.entry-content ul li, .entry-content ol li {
	padding-left: 8px;
}

.gallery {
	margin: 30px 0px 30px 0px;
}

.gallery img {
	padding-right: 5px;
}

.wp-caption {
	margin-bottom: 15px;
}

.wp-caption-text {
	font-size: 14px;
	font-style: italic;
	color: lighten($gray-dark, 35%);
	text-align: left;
	font-weight: 200;
}

table {
	border: 1px solid $gray;
	border-right: 0px;
	border-bottom: 0px;
	margin-bottom: 25px;
}

table tr td {
	border-right: 1px solid $gray;
	border-bottom: 1px solid $gray;
	padding: 15px 20px;
	font-size: 15px;
}

table tr.table-header {
	background: $gray-light;
}


.by-line {
	display: block;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	margin-top: 10px;
}